* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	transition-duration: 300ms;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background: #0f172a;
	color: white;
}

form {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	width: 90vw;
	max-width: 800px;
}

form h1 {
	font-weight: 800;
	letter-spacing: 1.5px;
	color: hsl(180, 100%, 80%);
	text-shadow: 0 0 8px skyblue;
	text-align: center;
	user-select: none;
	margin: 32px 0;
}

form > input,
form label,
form label input {
	width: 100%;
	background: transparent;
	outline: none;
	color: white;
	padding: 6px 4px;
	border: none;
}

form label {
	display: flex;
	align-items: center;
	gap: 10px;
}

form > div {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	gap: 5px;
	align-items: center;
	justify-content: space-between;
}

form div div {
	color: greenyellow;
	cursor: pointer;
	width: fit-content;
}

form div div:hover {
	transform: scale(1.25);
}

form div input {
	width: 100%;
	background: cyan;
	color: black;
	border: none;
	padding: 8px;
	cursor: pointer;
	font-weight: 600;
	font-size: 1.2rem;
	margin: 18px auto;
}

form div input:hover {
	background: transparent;
	color: cyan;
}

.question {
	border: 1px solid transparent;
	border-bottom: 1px solid aqua;
	margin: 4px 0 12px 0;
	font-size: 1.2rem;
	padding: 14px 12px;
}

.question:focus {
	border: 1px solid aqua;
}

.question:hover {
	opacity: 0.8;
}

.options {
	position: relative;
	flex: 1;
	color: white;
	border-bottom: 1px solid transparent;
	padding: 6px 3px;
	padding-left: 20px;
}

.options:hover {
	border-bottom: 1px solid greenyellow;
}
